html,
body {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    color: #555;
    overflow-x: hidden;
    height: 100%;
    background-color: black;
 }

 
 .col-md-4 {
     padding-bottom: 30px;
 }
 
 
 .navbar-nav {
     float: right;
 }
 
 .navbar-fixed-top {
     width: 100%;
 }
 
 .navbar-default {
     border-color: transparent;
     background-color: rgba(255,255,255,0.0);
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     -ms-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
 }
 
 .navbar-default.opaqued .navbar-nav > li > a, .navbar-default.opaqued .navbar-brand h1, .navbar-default.opaqued .navbar-brand {
     color: #ffffff;
     background: transparent;
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     -ms-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
     font-size: 16px;
 }
 
 .navbar-default.opaqued h1 {
     font-size: 38px !important;
     position: relative;
     top: -10px;
 }
 
 .navgar-default.opaqued {
     padding: 25px 0;
 }
 
 .navbar-toggle {
     border-color: transparent;
     border: 0px solid transparent;
 }
 
 .navbar-brand {
     padding: 0;
 }
 
 .navbar-brand h1 {
     margin: 15px 0;
 }
 
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
     color: #2980b9;
     background-color: transparent;
 }
 
 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     background-color: transparent;
     color: #black;
 }
 
 .navbar-default .navbar-nav > li > a:hover:after,
 .navbar-default .navbar-nav > li > a:focus:after,
 .navbar-default .navbar-nav > .active > a:focus:after,
 .navbar-default .navbar-nav > .active > a:hover:after,
 .navbar-default .navbar-nav > .active > a:after {
     content: '';
     width: 34px;
     height: 5px;
     position: absolute;
     border-bottom: 2px solid #2980b9;
     margin: 0 auto;
     left: 50%;
     margin-left: -17px;
     top: 55px;
 }
 
 .navbar-default.opaqued .navbar-nav > .active > a:focus:after,
 .navbar-default.opaqued .navbar-nav > .active > a:hover:after,
 .navbar-default.opaqued .navbar-nav > .active > a:after {
     content: '';
     width: 34px;
     height: 5px;
     position: absolute;
     border-bottom: 2px solid #fff;
     margin: 0 auto;
     left: 50%;
     margin-left: -17px;
     top: 55px;
 }
 
 .navbar-nav > li > a {
     padding-top: 25px;
     padding-bottom: 25px;
     font-weight: 700;
     font-size: 14px;
     text-transform: uppercase;
 }
 
 .navbar-nav > li > a:after {
     content: '';
     width: 34px;
     height: 5px;
     position: absolute;
     border-bottom: none;
     margin: 0 auto;
     left: 50%;
     margin-left: -17px;
     top: 55px;
 }
 
 h1, h2, h3, h4 {
     font-family: 'Open Sans';
     font-weight: 700;
     color: #FFFFFF;
 }
 
 p {
     line-height: 28px;
     margin-bottom: 25px;
     color: #FFFFFF;
 }
 
 .centered {
     text-align: center;
 }
 
 #headerwrap {
     margin-top: 0px;
     padding-top: 70px;
     text-align: center;
     background-attachment: relative;
     background-position: center center;
     min-height: 150px;
     width: 70%;
     -webkit-background-size: 100%;
     -moz-background-size: 100%;
     -o-background-size: 100%;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 #footerwrap {
     background: #202020;
     margin-top: 0px;
     padding-top: 40px;
     padding-bottom: 40px;
     border-bottom: none;
     text-align: center;
 }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container1 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container1 img {vertical-align: middle;}
  
  .container1 .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }